@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --color-black-1: #141414;
    --color-yellow-1: #ECB755;
    --color-white-1: #E7E7E7;
}

.font-sarabun {
    font-family: 'Sarabun';
}

.font-rubik-one {
    font-family: 'Rubik One'
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-100-italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-400-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-700-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-200-italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-500-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-800-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-200-normal.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-500-normal.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-800-normal.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-300-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-600-italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/fonts/sarabun-latin-600-normal.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik One';
    src: url('/fonts/RubikOne-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}