@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

body {
    background-color: black;
    font-family: 'Special Gothic Expanded One'
}

.font-main {
    font-family: 'Special Gothic Expanded One'
}

.font-cnt {
    font-family: 'Arimo'
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* For Firefox */
html {
    scrollbar-width: none;
}

/* For IE and Edge */
body {
    -ms-overflow-style: none;
}

.gradient {
    background: linear-gradient(90deg, #0000ff, #3333ff, #6666ff, #9999ff, #ccccff, #9999ff, #6666ff, #3333ff, #0000ff);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 3s linear infinite;
    transition: all 0.3s ease;
    z-index: -2;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.appear {
    animation: appear ease-in-out 1s;
}

@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}