---
import BaseLayout from '../layouts/BaseLayout.astro';

/* Components */
import Header from '../components/Header.astro';

const anim = {
    old: {
        name: "slide",
        duration: "0.5s",
        easing: "ease-in-out",
        direction: "right",
    },
    new: {
        name: "slide",
        duration: "0.5s",
        easing: "ease-in-out",
        direction: "reverse",},
};

const customTransition = {
    forwards: anim,
    backwards: anim,
}

const animLeft = {
    old: {
        name: "slideToLeft",
        duration: "0.5s",
        easing: "ease-in-out",
        direction: "left",
    },
    new: {
        name: "slideToLeft",
        duration: "0.5s",
        easing: "ease-in-out",
        direction: "reverse",
    },
};

const slideLeft = {
    forwards: animLeft,
    backwards: animLeft,
};

---
<BaseLayout title="Home">
    <main class="bg-black-1 w-full h-screen overflow-clip relative">
        <Header id="main-header" />
        
        <section id="Hero" transition:name="Hero" class="mx-auto w-[1280px] h-screen flex justify-evenly items-center px-10">
            <div class="w-75 h-75 text-left rounded-full bg-black-1 me-shadow overflow-hidden" >
                <img id="me" src="/me.png" class="w-full" />
            </div>

            <div class="flex flex-col text-white-1 me-text">
                <strong class="flex flex-col text-6xl font-rubik-one me-title">
                I'm Manuel Rubio
                <small class="text-2xl me-subtitle">
                    An alleged <span class="text-yellow-1">Software Engineer</span>
                </small>
                </strong>
                <p class="mt-5 text-lg me-desc">
                Maybe the real Fibonacci Heap is the friends we make along the way...
                </p>
            </div>
        </section>
        
    </main>
</BaseLayout>

<script>
    document.addEventListener('astro:page-load', () => {
    });
    
    document.addEventListener('astro:before-preparation', () => {
        console.log('Preparing to load page...');
    });
</script>

<style is:inline>
    #main-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }
    
    .me-shadow {
        box-shadow: 0px 0px 10em rgba(236, 204, 181, 0.25);
    }
</style>