---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout title="Projects">
    <section class="md:mx-auto md:w-[1280px] h-screen flex flex-col md:flex-row justify-evenly items-center px-10">
        
    </section>
</BaseLayout>

<script>
</script>

<style is:inline>
</style>