---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---

<BaseLayout>
    <Header />
    <main class="min-h-screen bg-black text-white flex items-center justify-center">
        
    </main>
</BaseLayout>