---
---
<footer class="font-cnt font-bold h-40 text-white flex items-center justifty-center px-10">
    <p class="w-full text-center">
        Manuel Rubio &copy; 2025 some rights are reserved
    </p>
</footer>