---
---
<header class="flex text-white-1 font-sarabun justify-center items-center h-20 absolute w-full z-100">
    <nav class="flex gap-x-10 px-10 font-semibold tracking-wide text-lg m-auto justify-center items-center">
        <a href="/about">About</a>
        <a href="#">Projects</a>
        <a href="#">Profile</a>
    </nav>
</header>