---

---
<section class="-mt-20 mx-auto w-[1280px] h-screen flex justify-evenly items-center px-10">
    <div class="w-75 h-75 text-left rounded-full bg-black-1 me-shadow overflow-hidden">
        <img id="me" src="/me.png" class="w-full" />
    </div>

    <div class="flex flex-col text-white-1 me-text">
        <strong class="flex flex-col text-6xl font-rubik-one me-title">
        I'm Manuel Rubio
        <small class="text-2xl me-subtitle">
            An alleged <span class="text-yellow-1">Software Engineer</span>
        </small>
        </strong>
        <p class="mt-5 text-lg me-desc">
        Maybe the real Fibonacci Heap is the friends we make along the way...
        </p>
    </div>
</section>